@import '../core/index.scss';

page {
  @include defineColorHSL(--theme-default, 0, 0%, 90%);
  @include defineColorHSL(--theme-primary, 156, 100%, 36.9%);
  @include defineColorHSL(--theme-success, 156, 100%, 36.9%);
  @include defineColorHSL(--theme-warning, 31, 83.1%, 55.9%);
  @include defineColorHSL(--theme-danger, 0, 100%, 65.7%);

  // 文字色
  --color-text: #343434;                    // 基本
  --color-text-inverse: #fff;               // 反色
  --color-text-placeholder: #a9a9a9;        // 文本框提示
  --color-text-disabled: #bcbcbc;           // 失效
  --color-text-caption: #909090;            // 辅助描述
  --color-link: var(--theme-primary);         // 链接
  --color-shadow: rgba(56, 56, 56, 0.15);   // 阴影色

  // 背景色
  --background-active: #e6e6e6;
  --background-disabled: #f2f2f2;

  // 边框色
  --border-color: #dcdcdc;
  --border-disabled: #e6e6e6;

  // 圆角
  --radius-xs: 4px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-xl: 16px;
  --radius-round: 1000px;
  --radius-circle: 50%;

  // 水平间距
  --padding-h-xs: 16px;
  --padding-h-sm: 24px;
  --padding-h-md: 32px;
  --padding-h-lg: 40px;
  --padding-h-xl: 48px;

  // 垂直间距
  --padding-v-xs: 12px;
  --padding-v-sm: 16px;
  --padding-v-md: 24px;
  --padding-v-lg: 32px;
  --padding-v-xl: 36px;

  // 字体大小
  --font-size-xs: 20px;
  --font-size-sm: 24px;
  --font-size-md: 28px;
  --font-size-lg: 32px;
  --font-size-xl: 36px;

  // 堆叠顺序
  --zindex-mask: 1000;
  --zindex-popup: 1100;
  --zindex-tooltip: 1700;

  // 透明度
  --opacity-disabled: 0.5;
  --opacity-mask: 0.5;
  --opacity-toast: 0.8;
  --opacity-tooltip: 0.8;

  //阴影
  --box-shadow-light: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 0 8px 24px rgba(0, 0, 0, 0.2);

  // Components

  // ActionSheet
  --action-sheet-background: #fff;
  --action-sheet-active-background: var(--background-active);
  --action-sheet-margin: 0;
  --action-sheet-item-height: 100px;
  --action-sheet-item-font-size: 32px;

  // activity-indicator
  --activity-indicator-size-md: 40px;
  --activity-indicator-size-lg: 64px;
  --activity-indicator-path-color: #e6e6e6;
  --activity-indicator-spinner-color: #989697;

  // Alert
  --alert-button-height: 100px;
  --alert-button-font-size: 36px;
  --alert-button-background: var(--button-default-background);
  --alert-button-active-background: var(--background-active);

  // Badge
  --badge-height: 28px;
  --badge-font-size: var(--font-size-xs);
  --badge-padding-h: 8px;
  --badge-dot-diameter: 16px;
  --badge-border-radius-rect: var(--radius-sm);
  --badge-border-radius-round: var(--radius-round);
  --badge-sup-top: -8px;
  --badge-text-color: #fff;

  // Button
  --button-height-xs: 56px;
  --button-height-sm: 72px;
  --button-height-md: 88px;
  --button-height-lg: 104px;
  --button-padding-h-xs: var(--padding-h-xs);
  --button-padding-h-sm: var(--padding-h-sm);
  --button-padding-h-md: var(--padding-h-md);
  --button-padding-h-lg: var(--padding-h-lg);
  --button-font-size-xs: 24px;
  --button-font-size-sm: 28px;
  --button-font-size-md: 32px;
  --button-font-size-lg: 36px;
  --button-icon-size-xs: 32px;
  --button-icon-size-sm: 36px;
  --button-icon-size-md: 44px;
  --button-icon-size-lg: 52px;
  --button-disabled-opacity: var(--opacity-disabled);
  --button-disabled-color-ghost: var(--border-disabled);
  --button-default-background: var(--color-text-inverse);
  --button-default-border: var(--theme-default);
  --button-default-color: var(--color-text);
  --button-default-active-background: var(--background-active);
  --button-default-active-border: var(--background-active);
  --button-default-active-color: var(--color-text);
  --button-default-ghost-border: var(--color-text-inverse);
  --button-default-ghost-color: var(--color-text-inverse);
  --button-default-ghost-active-border: var(--background-active);
  --button-default-ghost-active-color: var(--background-active);
  --button-default-shadow-color: rgba(230, 230, 230, 0.3);
  --button-primary-background: var(--theme-primary);
  --button-primary-border: var(--theme-primary);
  --button-primary-color: var(--color-text-inverse);
  --button-primary-active-background: var(--theme-primary-dark);
  --button-primary-active-border: var(--theme-primary-dark);
  --button-primary-active-color: rgba(255, 255, 255, 0.4);
  --button-primary-ghost-border: var(--theme-primary);
  --button-primary-ghost-color: var(--theme-primary);
  --button-primary-ghost-active-border: var(--theme-primary-dark);
  --button-primary-ghost-active-color: var(--theme-primary-dark);
  --button-primary-shadow-color: rgba(0, 188, 112, 0.3);
  --button-danger-background: var(--theme-danger);
  --button-danger-border: var(--theme-danger);
  --button-danger-color: var(--color-text-inverse);
  --button-danger-active-background: var(--theme-danger-dark);
  --button-danger-active-border: var(--theme-danger-dark);
  --button-danger-active-color: rgba(255, 255, 255, 0.4);
  --button-danger-ghost-border: var(--theme-danger);
  --button-danger-ghost-color: var(--theme-danger);
  --button-danger-ghost-active-border: var(--theme-danger-dark);
  --button-danger-ghost-active-color: var(--theme-danger-dark);
  --button-danger-shadow-color: rgba(255, 80, 80, 0.3);

  // Calendar
  --calendar-height: 90px; // 最小高度
  --calendar-background: #fff; // 背景色
  --calendar-week-bar-fontsize: 28px; // 星期条文字大小
  --calendar-week-bar-background: #f2f2f2; // 星期条文字背景色
  --calendar-week-bar-color: var(--color-text-caption); // 星期条文字颜色
  --calendar-section-padding: 30px; // 两边留白间距
  --calendar-day-fontsize: 32px; // 月份文字大小
  --calendar-day-title-fontsize: 34px; // 月份title文字大小
  --calendar-day-color: var(--color-text); // 月份日期文字颜色
  --calendar-day-today-background: var(--theme-primary-lighter); // 日期今天选中背景颜色
  --calendar-day-today-color: var(--theme-primary); // 日期今天选中颜色
  --calendar-day-selected-background: var(--theme-primary); // 日期文字选中背景颜色
  --calendar-day-selected-color: #fff; // 日期文字选中颜色
  --calendar-day-selected-shadow: var(--theme-primary-lighter);
  --calendar-day-range-background: var(--theme-primary-lighter); // 日期文字范围内背景颜色
  --calendar-day-range-color: var(--theme-primary); // 日期文字范围内颜色
  --calendar-day-height: 80px; // 日期高度

  // Carousel
  --carousel-pagination-distance: 16px;
  --carousel-pagination-rect-width: 38px;
  --carousel-pagination-rect-height: 16px;
  --carousel-pagination-rect-border-radius: 2px;
  --carousel-pagination-rect-step: 4px;
  --carousel-pagination-rect-color: rgba(255, 255, 255, 0.6);
  --carousel-pagination-rect-color-active: #fff;

  // Cell
  --cell-height: 104px;                                    // 最小高度
  --cell-background: #fff;                              // 背景色
  --cell-background-active: var(--background-active);     // 激活背景色
  --cell-line-padding-left: 32px;                         // 分隔线左边距
  --cell-padding-h: 32px;                                 // 水平边内距
  --cell-padding-v: 30px;                                 // 纵向边内距
  --cell-title-color: var(--color-text);                  // 标题文字颜色
  --cell-title-font-size: 30px;                           // 标题文字大小
  --cell-title-line-height: 44px;                         // 标题文字行高
  --cell-description-color: var(--color-text-caption);    // 标题文字颜色
  --cell-description-font-size: 30px;                     // 描述文字大小
  --cell-label-width: 200px;                              // 表单label宽度
  --cell-arrow-color: #bcbcbc;                          // 箭头颜色
  --cell-arrow-length: 20px;                              // 箭头长度
  --cell-arrow-border-width: 4px;                         // 箭头粗细

  // Checkbox
  --checkbox-size: 36px;
  --checkbox-radius: var(--radius-md);
  --checkbox-background: var(--color-text-inverse);
  --checkbox-border-color: var(--border-color);
  --checkbox-active-border-color: var(--theme-primary);
  --checkbox-disabled-background: var(--background-disabled);
  --checkbox-disabled-color: #bcbcbc;
  --checkbox-arrow-color: var(--color-text-inverse);

  // Collapse
  --collapse-height: 104px;
  --collapse-padding-h: 32px;
  --collapse-padding-v: 30px;
  --collapse-arrow-color: #bcbcbc;
  --collapse-arrow-disabled-color: #eee;

  // Confirm
  --confirm-button-height: 100px;
  --confirm-button-font-size: 36px;
  --confirm-button-background: var(--button-default-background);
  --confirm-button-active-background: var(--background-active);

  // Input
  --input-clear-icon-width: 32px;
  --input-clear-icon-color: #bcbcbc;
  --input-padding-v: var(--cell-padding-v);
  --input-cursor-color: #597cf6;
  --input-cursor-width: 4px;
  --input-cursor-height: calc(var(--cell-title-line-height) - 8px);
  --input-length-count-color: var(--color-text-disabled);
  --input-height: 56px;
  --input-line-height: var(--cell-title-line-height);

  // ImagePreview
  --image-preview-origin-button-background: #2d2d2d;

  // Keyboard
  --keyboard-background: #fff;
  --keyboard-item-background: #fff;
  --keyboard-item-height: 104px;
  --keyboard-item-font-size: 60px;

  // Loading
  --loading-background: rgba(0, 0, 0, var(--opacity-toast));

  // Message
  --message-min-height-md: 58px;
  --message-min-height-lg: 80px;
  --message-font-size-md: 24px;
  --message-font-size-lg: 28px;
  --message-icon-size-md: 28px;
  --message-icon-size-lg: 32px;
  --message-padding-v-md: 12px;
  --message-padding-h-md: 16px;
  --message-padding-v-lg: 16px;
  --message-padding-h-lg: 24px;

  // Modal
  --modal-background: #fff;
  --modal-title-font-size: 36px;
  --modal-title-color: var(--color-text);
  --modal-close-color: #ccc;
  --modal-close-active-color: #999;

  // NavBar
  --nav-bar-color: #fdfdfd;
  --nav-bar-height: 88px;
  --nav-bar-icon-size: 48px;

  // NoticeBar
  --notice-bar-height: 48px;

  // Panel
  --panel-header-color: var(--color-text-caption);
  --panel-header-font-size: 28px;
  --panel-body-color: var(--color-text);
  --panel-body-font-size: 30px;
  --panel-body-background: #fff;

  // Picker
  --picker-background: #fff;
  --picker-mask-background-start: rgba(255, 255, 255, 0.4);
  --picker-mask-background-end: rgba(255, 255, 255, 0.8);
  --picker-header-height: 90px;
  --picker-header-font-size: 32px;
  --picker-header-background: #f7f7f7;

  // Progress
  --progress-background: #f2f2f2;
  --progress-width-lg: 100%;
  --progress-width-md: 100%;
  --progress-width-sm: 280px;
  --progress-size-lg: 400px;
  --progress-size-md: 300px;
  --progress-size-sm: 160px;
  --progress-font-size-circle-lg: 60px;
  --progress-font-size-circle-md: 48px;
  --progress-font-size-circle-sm: 36px;

  // Pull
  --pull-control-height: 100px;
  --pull-control-font-size: 28px;

  // Radio
  --radio-size: 36px;
  --radio-radius: var(--radius-circle);
  --radio-background: var(--color-text-inverse);
  --radio-border-color: var(--border-color);
  --radio-active-border-color: var(--theme-primary);
  --radio-disabled-background: var(--background-disabled);
  --radio-disabled-color: #bcbcbc;
  --radio-arrow-color: var(--color-text-inverse);

  // SearchBar
  --search-bar-font-size: 28px;
  --search-bar-background: #fff;
  --search-bar-inner-background: #f2f2f2;

  // Slider
  --slider-line-background: var(--border-color);
  --slider-line-height: 4px;
  --slider-line-dot-width: 12px;
  --slider-line-dot-color: #fff;
  --slider-vertical-line-width: 4px;
  --slider-handle-size: 48px;
  --slider-handle-size-small: 32px;
  --slider-mark-handle: 48px;
  --slider-mark-size: 30px;
  --slider-handle-background: #fff;
  --slider-handle-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);

  // Stepper
  --stepper-input-background: #fff;
  --stepper-height-md: 56px;
  --stepper-height-lg: 72px;
  --stepper-icon-font-size-md: 24px;
  --stepper-icon-font-size-lg: 28px;
  --stepper-input-width-md: 100px;
  --stepper-input-width-lg: 120px;
  --stepper-input-disabled: var(--color-text-disabled);
  --stepper-input-font-size-md: 28px;
  --stepper-input-font-size-lg: 32px;
  --stepper-input-margin-h-md: 8px;
  --stepper-input-margin-h-lg: 8px;
  --stepper-input-padding-h-md: 16px;
  --stepper-input-padding-h-lg: 16px;

  // Switch
  --switch-width: 106px;
  --switch-height: 64px;
  --switch-handle-size: 52px;
  // --switch-width-sm: 41px;
  // --switch-height-sm: 21px;
  --switch-border-color: var(--border-color);
  --switch-background: var(--border-color);
  --switch-handle-background: #fff;
  // Tabs
  --tabs-height: 90px;
  --tabs-item-font-size: var(--font-size-lg);
  --tabs-line-height: 4px;
  --tabs-item-horizontal-padding: 40px;
  --tabs-item-vertical-padding: 24px;

  // Toast
  --toast-border-radius: 12px;
  --toast-background: rgba(0, 0, 0, var(--opacity-toast));
  --toast-color: var(--color-text-inverse);
  --toast-font-size: 26px;

  // Tooltip
  --tooltip-font-size: 24px;
  --tooltip-color: var(--color-text-inverse);
  --tooltip-arrow-size: 8px;
  --tooltip-padding-v: var(--padding-v-xs);
  --tooltip-padding-h: var(--padding-h-xs);
  --tooltip-background: rgba(0, 0, 0, var(--opacity-tooltip));

  // Tabbar
  --tabbar-height: 100px;
  --tabbar-hidden-bottom: -100px;
  --tabbar-background: #fff;
  --tabbar-item-font-size: 24px;
  --tabbar-item-active-color: var(--theme-primary);

  // Wheel
  --wheel-item-height: 68px;
  --wheel-item-rows: 5;
  --wheel-item-font-size: 36px;
  --wheel-color: var(--color-text);

  // Icon
  --icon-font-size-sm: 32px;
  --icon-font-size-md: 48px;
  --icon-font-size-lg: 64px;
  --icon-theme-default: var(--color-text);

  // StackPicker
  --stack-picker-background: #fff;
  --stack-picker-shadow: 0 0 20px rgba(0, 0, 0, .3);
  --stack-picker-error: #ff5050;
  --stack-picker-stack-item-font-size: 32px;
  --stack-picker-crumbs-line-height: 48px;
  --stack-picker-stack-item-height: 70px;
  --stack-picker-padding: 40px;
  --stack-picker-left: 120px;
}